@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dotted-circle {
  transform-origin: 50% 50%;
  animation: rotation 120s linear infinite;
}